
$font-serif: 'Volkhov', serif;

$font-bold: 'Abril Fatface', cursive;

$font-text: 'News Cycle', sans-serif;

$text-color: #494C4F;

body {
  background: #e8e8e8;
  color: $text-color;
  font-family: $font-text;
}
h1 {
  color: #505447;
  font-family: $font-bold;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  h1 {
    position: relative;
    -webkit-animation: myfirst 3s ease-in 1 alternate;
    animation: myfirst 3s ease-in 1 alternate;
  }
  label {
    padding-right: 10px;
  }
  input {
    width: 200px;
    height: 30px;
    font-size: 1em;
    margin-right: 10px;
  }
  button {
    border: none;
    width: 100px;
    height: 35px;
    background-color: #B6D6CF;
    color: #505447;
  }

}

.showName {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-family: $font-text;
  color: #e8e8e8;
  text-align: center;
  font-size: 1.5em;
  height: 300px;
  background-image: url(./../../img/git.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    font-family: $font-bold;
      color: #e8e8e8;
  }
}


.showRepo {
    list-style:none;
    li {
      font-size: 1.5em;
      a {
        text-decoration: none;
        color: #E29B8F;
      }
    }
    p {
      color: #494C4F;
    }
  }


  @-webkit-keyframes myfirst {
    0%   {left:-200px;}
    50%  {left:100px;}
    100% {left:0px;}
}
// 50%  {left:50px;}
// 75%  {left:100px;}
