
$font-serif: 'Volkhov', serif;

$font-bold: 'Abril Fatface', cursive;

$font-regular: 'Raleway', sans-serif;

$background-dark: #70A9A1;

$text-color: #0B2027;

$background-color: #FAFAFA;

$alternate-color: #40798C;

$lighter-purple: #A3A3C7;

$mid-purple: #0B2027;

$light-blue:  #DAE6ED;

$light-grey: #e8e8e8;

$light-peach: #F2D6C9;

%square {
  width: 150px;
  height: 150px;
}
