
$font-serif: 'Volkhov', serif;

$font-bold: 'Abril Fatface', cursive;

$font-text: 'News Cycle', sans-serif;

$font-regular: 'Raleway', sans-serif;

$background-dark: #61669E;

$text-color: #594466;

$background-color: #FAFAFA;

$alternate-color: #C97D84;

$lighter-purple: #A3A3C7;

$mid-purple: #6B6896;

$light-blue:  #DAE6ED;

$light-grey: #e8e8e8;

$light-peach: #F2D6C9;

%square {
  width: 150px;
  height: 150px;
}
