
.userGit {
  width: 90%;
  margin: 0 auto;
}
.showName {
  max-width: 1000px;
  display: flex;
  flex-flow: row;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  font-family: $font-text;
  color: $alternate-color;
  text-align: center;
  font-size: 1.5em;
  height: 300px;
  img {
    @extend %square;
    border-radius: 50%;
  }
  h1 {
    font-family: $font-bold;
  }
}

.repos {
  h2 {
    font-family: $font-regular;
    font-size: 2em;
  }
}

.showRepo {
    list-style:none;
    li {
      font-size: 1.5em;
      a {
        text-decoration: none;
        color: $mid-purple;
      }
    }
    p {
      color: $text-color;
      padding-left: 25px;
    }
  }
