body {
  background: $background-color;
  color: $text-color;
  margin: 0;
  font-family: $font-text;
  .container {
    display: flex;
    flex-flow: column;
  }
}

h1 {
  color: $text-color;
  font-family: $font-bold;
}
